[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-shortcode-roneo-button-icon-badge"]
	path = themes/hugo-shortcode-roneo-button-icon-badge
	url = https://gitlab.com/roneo.org/hugo-shortcode-roneo-button-icon-badge.git
