[submodule "themes/MyPaperMod"]
	path = themes/MyPaperMod
	url = https://github.com/samuele-cozzi-io/hugo-PaperMod.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
